<div class="container">
    <h1 class="tittle stong">USER DETAILS</h1>
    <div class="row">
      <div class="col-xs-4">
        <form (submit)="onSubmit(userForm)" #userForm="ngForm">
  
  
          <label for="id">ID</label>
            
          <input class="form-control is-invalid" type="text" name="id" #id="ngModel"ngModel required >
          <span class="help-block" *ngIf="!(id.valid) && id.touched">Please Enter The Name</span>
            
            
  
          <hr>
          <label for="name">Name</label>
          <input class="form-control" type="text" ngModel name="name"#name="ngModel" required>
          <span class="help-block" *ngIf="!(name.valid) && name.touched">Please Enter The Name</span>
          <hr>
          <label for="username">User Name</label>
          <input class="form-control" type="text" ngModel name="username" #username="ngModel"required>
          <span class="help-block" *ngIf="!(username.valid) && username.touched">Please Enter The UserName </span>
           
  
          <hr>
          <label for="email">Email</label>
          <input class="form-control" type="email" id="email" ngModel name="email" #email="ngModel" required email>
          <span class="help-block" *ngIf="!(email.valid) && email.touched">Please Enter The Valid Email</span>
  
          <hr>
  
          <button class="btn btn-success btn-sm" type='submit'>submit</button>
           
          
  
          
           
        </form>
        
        <!-- <button class="btn btn-primary"(click)=" Update(id,userForm)"type="submit">{{isedit? 'Update':'Submit'}}</button> -->
         
      </div>
     
  
  
  
    <div class="col-xs-8">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr class="danger">
            <th>Id</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Action</th>
             
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" class="success">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><button class="btn btn-danger btn-sm"(click)=" Delete(user.id)"type="submit">Delete</button>
              <button class="btn btn-info btn-sm"(click)="edit(user.id,user)"type="submit">Edit</button>
              <button class="btn btn-warning btn-sm"(click)="Update(user.id,user)">update</button></td>
            
  
          </tr>
        </tbody>
      </table>
      
       
    </div>
  
     
    </div>
  </div>
